<style>
body {
    background-color: lightgrey;
}
.centerPage {
  vertical-align: middle;
  text-align: center;
  margin-top: 15%;
}
</style>
<div class="container centerPage bg-dark text-white">
  <div class="col-sm-12 centerPage">  
  <h1>New project</h1>

  <%= render "form", project: @project %>
  
  <div>
    <%= link_to "Back to projects", projects_path %>
  </div>
  </div>
</div>

